In [1]:
mystring = "Hello World"

In [2]:
mystring

'Hello World'

In [3]:
mystring[0]

'H'

In [7]:
mystring[-3]

'r'

In [6]:
mystring[-2]

'l'

In [8]:
mystring[-1]

'd'

In [2]:
mystring = 'abcdefghijk'

In [11]:
mystring

'abcdefghijk'

In [13]:
mystring[2:]

'cdefghijk'

In [3]:
mystring[:3]

'abc'

In [4]:
mystring[3:6]

'def'

In [6]:
mystring[1:3]

'bc'

In [13]:
mystring[2:7:2]

'ceg'

In [15]:
mystring[::-1]

'kjihgfedcba'

Immutability

In [17]:
name = "Sam"
#name[0]='P'

In [19]:
last_letters = name[1:]

In [20]:
last_letters

'am'

In [21]:
'P'+last_letters

'Pam'

In [29]:
x='Hello World'

In [32]:
x= x+" it is beutiful outside!"

In [33]:
x

'Hello World it is beutiful outside! it is beutiful outside!'

In [34]:
letter = 'z'
letter*10

'zzzzzzzzzz'

In [35]:
2+3

5

In [36]:
'2'+'3'

'23'

In [37]:
x = 'Hello World'

In [38]:
x.upper()

'HELLO WORLD'

In [39]:
x

'Hello World'

In [42]:
x.lower()

'hello world'

In [43]:
x.split()

['Hello', 'World']

In [44]:
x='Hi this is a string'

In [47]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [48]:
print('hello')

hello

Formatting with String

In [49]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [52]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [54]:
print('The {f} {f} {f}'.format(f='fox', b='brown', q='quick'))

The fox fox fox

In [55]:
result = 100/777

In [56]:
result=104.12345

0.1287001287001287

In [66]:
print("The result was {r:2.2f}".format(r=result))

The result was 0.13

In [72]:
print("The result was {:2.2f}".format(result))

The result was 0.13

In [73]:
name = "Jose"

In [74]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [75]:
name = "Sam"
age = 3

In [76]:
print(f'{name} is {age} years old.')

Samis 3 years old.

Lists

In [1]:
my_list = [1,2,3]

In [2]:
my_list = ['STRING', 100, 23.2]

In [3]:
len(my_list)

3

In [4]:
mylist = ['one','two', 'three']

In [5]:
mylist[0]

'one'

In [6]:
mylist[1:]

['two', 'three']

In [7]:
mylist

['one', 'two', 'three']

In [8]:
another_list = ['four', 'five']

In [11]:
new_list = mylist+another_list
new_list

['one', 'two', 'three', 'four', 'five']

In [12]:
mylist

['one', 'two', 'three']

In [13]:
another_list

['four', 'five']

In [14]:
new_list

['one', 'two', 'three', 'four', 'five']

In [15]:
new_list[0] = 'ONE ALL CAPS'

In [2]:
new_list = ['one', 'two', 'three', 'four', 'five']

In [3]:
new_list.append('six')

In [10]:
new_list

['one', 'two', 'three', 'four', 'five']

In [5]:
new_list.append('seven')

In [9]:
new_list.pop()

'six'

In [11]:
new_list

['one', 'two', 'three', 'four', 'five']

In [12]:
popped_item = new_list.pop()

In [13]:
popped_item

'five'

In [14]:
new_list

['one', 'two', 'three', 'four']

In [15]:
new_list.pop(0)

'one'

In [16]:
new_list

['two', 'three', 'four']

In [17]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [18]:
new_list.sort()

In [19]:
new_list

['a', 'b', 'c', 'e', 'x']

In [20]:
my_sorted_list = new_list.sort()

In [22]:
type(my_sorted_list)

NoneType

In [23]:
new_list.sort()
my_sorted_list = new_list
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [24]:
num_list.sort()

In [25]:
num_list

[1, 3, 4, 8]

In [26]:
num_list.reverse()

In [27]:
num_list

[8, 4, 3, 1]

In [28]:
my_dict = {'key1':'value1', 'key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [29]:
my_dict['key1']

'value1'

In [31]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.80}
prices_lookup['apple']

2.99

In [32]:
d = { 'k1':123, 'k2':[0,1,2], 'k3':{'insideKey':100}}

In [37]:
d['k2'][2]

2

In [36]:
d['k3']['insideKey']

100

In [38]:
d={'key1':['a','b','c']}

In [39]:
d

{'key1': ['a', 'b', 'c']}

In [40]:
mylist = d['key1']

In [41]:
mylist

['a', 'b', 'c']

In [42]:
letter = mylist[2]

In [43]:
letter

'c'

In [44]:
letter.upper()

'C'

In [46]:
d

{'key1': ['a', 'b', 'c']}

In [45]:
d['key1'][2].upper()

'C'

In [47]:
d = {'k1':100, 'k2':200}
d

{'k1': 100, 'k2': 200}

In [48]:
d['k3'] = 300
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [51]:
d['k1'] = 'NEW VALUE'

In [52]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [53]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [54]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [55]:
d.values()

dict_values([100, 200, 300])

In [56]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [59]:
t = (1,2,3)

In [58]:
mylist = [1,2,3]

In [60]:
type(t)

tuple

In [61]:
type(mylist)

list

In [62]:
len(t)

3

In [63]:
t

(1, 2, 3)

In [64]:
t = ('one',2)

In [65]:
t[0]

'one'

In [66]:
t[-1]

2

In [67]:
t = ('a','a','b')

In [68]:
t.count('a')

2

In [69]:
t.index('a')

0

In [70]:
t.index('b')

2

In [71]:
t

('a', 'a', 'b')

In [72]:
mylist

[1, 2, 3]

In [73]:
mylist[0]= 'NEW'

In [74]:
mylist

['NEW', 2, 3]

In [75]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [76]:
myset = set()

In [77]:
myset

set()

In [78]:
myset.add(1)

In [79]:
myset

{1}

In [80]:
myset.add(2)

In [81]:
myset

{1, 2}

In [82]:
myset.add(2)

In [83]:
myset

{1, 2}

In [84]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3,3]

In [85]:
set(mylist)

{1, 2, 3}

In [86]:
True

True

In [87]:
true

NameError: name 'true' is not defined

In [88]:
type(False)

bool

In [89]:
1 > 2

False

In [90]:
1 ==1

True

In [91]:
b = None

In [92]:
b

In [93]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [94]:
myfile = open('myfile.txt')

In [95]:
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [96]:
pwd

'c:\\doit'

In [97]:
myfile = open('myfile.txt')

In [98]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [99]:
myfile.read()

''

In [100]:
myfile.seek(0)

0

In [101]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [102]:
myfile.read()

''

In [103]:
myfile.seek(0)

0

In [104]:
contents = myfile.read()

In [105]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [106]:
myfile.seek(0)

0

In [108]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [109]:
pwd

'c:\\doit'

In [110]:
myfile.close()

In [111]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [112]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [115]:
with open('myfile.txt', mode = 'a') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [114]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [125]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [117]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [126]:
with open('my_new_file.txt', mode='a') as f:
    f.write('FOUR ON FOURTH')

In [127]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [129]:
with open('dasafsad.txt', mode = 'w') as f:
    f.write('I CREATED THIS FILE!')

In [130]:
with open('dasafsad.txt', mode = 'r') as f:
    print(f.read())

I CREATED THIS FILE!

In [131]:
b = {1,2}

In [132]:
b

{1, 2}

In [1]:
2==2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'bye'

False

In [4]:
'Bye'=='bye'

False

In [5]:
'2'==2

False

In [6]:
2.0 ==2

True

In [7]:
3 !=3

False

In [8]:
4 != 5

True

In [9]:
2>1

True

In [10]:
1>2

False

In [11]:
1<2

True

In [12]:
2<5

True

In [13]:
1<2

True

In [14]:
2<3

True

In [15]:
1<2 < 3

True

In [16]:
1<2>3

False

In [18]:
1<2 and 2<3

True

In [19]:
('h' =='h') and (2==2)

True

In [22]:
100== 1 or 2==200

False

In [24]:
1==1

True

In [25]:
not 1==1

False

In [27]:
not 400 > 5000

True