In [3]:
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    x+=1
else : 
    print ("X is not less than 5")

X is not less than 5

In [6]:
x = [1,2,3]

for item in x:
    #comment
    pass

print('end of my script')

end of my script

In [9]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [11]:
x = 0
while x < 5:
    if x ==2:
        break
    print(x)
    x+=1

0
1

In [12]:
mylist = [1,2,3]

In [16]:
for num in range(0,11, 2):
    print(num)

0
2
4
6
8
10

In [18]:
list(range(0,11, 2))

[0, 2, 4, 6, 8, 10]

In [26]:

word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [3]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [6]:
for a,b,c in zip(mylist1, mylist2, mylist3):
    print(b)

a
b
c

In [5]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [7]:
'x' in [1,2,3]

False

In [8]:
'x' in ['x','y','z']

True

In [9]:
'a' in 'a world '

True

In [10]:
'mykey' in {'mykey':345}

True

In [11]:
d = {'mykey':345}
345 in d.keys()

False

In [12]:
mylist = [10,20,30,40, 100]

In [13]:
min(mylist)

10

In [14]:
max(mylist)

100

In [15]:
from random import shuffle

In [16]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [19]:
random_list = shuffle(mylist)

In [20]:
random_list

In [21]:
type(random_list)

NoneType

In [22]:
mylist

[6, 4, 10, 7, 9, 5, 1, 3, 2, 8]

In [23]:
from random import randint

In [24]:
randint(0,100)

20

In [28]:
mynum = randint(0,100)
mynum

32

In [39]:
result = int(input('Favorite Number: '))

Favorite Number: 30

In [40]:
type(result)

int

In [35]:
float(result)

30.0

In [36]:
int(result)

30

In [37]:
result

'30'

In [41]:
mystring = 'hello'

In [43]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [44]:
mylist

['h', 'e', 'l', 'l', 'o']

In [45]:
mylist = [letter for letter in mystring]

In [46]:
mylist

['h', 'e', 'l', 'l', 'o']

In [49]:
mylist = [qweqwe for qweqwe in 'wordtwo']

In [50]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [53]:
mylist = [num**2 for num in range(0,11)]

In [54]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [58]:
mylist

[0, 4, 16, 36, 64, 100]

In [59]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp+32) for temp in celcius]

In [60]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [64]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp+32))

In [65]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [69]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [70]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [73]:
mylist = []
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [74]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [75]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [76]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]